@font-face {
  font-family: "iconfont"; /* Project id 4656367 */
  src: url('iconfont.ttf?t=1724321557626') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-empty:before {
  content: "\e6a6";
}

.icon-setting:before {
  content: "\e67b";
}

.icon-sync:before {
  content: "\e786";
}

.icon-check:before {
  content: "\e7fc";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-delete:before {
  content: "\e699";
}

.icon-down:before {
  content: "\e69b";
}

.icon-up:before {
  content: "\e6a1";
}

.icon-right:before {
  content: "\e6a2";
}

.icon-left:before {
  content: "\e6db";
}

.icon-warning:before {
  content: "\e682";
}

.icon-f-success:before {
  content: "\e67e";
}

.icon-search:before {
  content: "\e619";
}

.icon-f-warning:before {
  content: "\ed53";
}

.icon-close:before {
  content: "\e60a";
}

.icon-move:before {
  content: "\e6fd";
}

.icon-log:before {
  content: "\e715";
}

.icon-edit:before {
  content: "\e642";
}

.icon-caozuorizhi:before {
  content: "\e668";
}

.icon-action:before {
  content: "\e615";
}

.icon-task:before {
  content: "\e63f";
}

.icon-tasking:before {
  content: "\ec35";
}

.icon-task-tpl:before {
  content: "\e60b";
}

